spring:
  application:
    name: order-system
  datasource:
    url: jdbc:postgresql://localhost:5433/teamgear
    username: admin
    password: admin123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 8080

logging:
  level:
    root: info
    com.teamgear: debug
    org.hibernate.sql: debug

